<section class="container-fluid">
 
  {{#if posts }}
   <ul>
  {{#each posts as |post| }}
  <li class="card">
    <h5>
      {{post.title}}
    </h5>
    <p>
      {{post.contents}}
    </p>
    <p>
      Posted by: {{user.username}}
    </h6>
    <p>
      At: {{post.postedAt}}
    </h6>
    <button onclick="/post/{{post.id}}">Update</button>
    <button onClick=>Delete</button>
  </li>
  {{/each}}
  </ul>
  <div>
    <button id="addPost">Create a new post</button>
  </div>
  {{/if}}


  {{#unless posts}}
  <p>No posts to show for this user</p>
  {{>createPost}}
  {{/unless}}

</section>
<script src="/js/dashboard.js"></script>