<section class="container-fluid">
 
  {{#if posts }}
   <ul id="postList">
  {{#each posts as |post| }}
  <li class="card">
    <h5>
      {{post.title}}
    </h5>
    <p>
      {{post.contents}}
    </p>
    <p>
      Posted by: {{user.username}}
    </p>
    <p>
      PostID: {{post.id}}
    </p>
    <p>
      At: {{post.postedAt}}
    </p>
    <div >
    <button data-type="comment" data-id="{{post.id}} data-post="{{post}}">Comment</button>
    <button data-type="update" data-id="{{post.id}}" data-post="{{post}}">Update</button>
    <button data-type="delete" data-id="{{post.id}}">Delete</button>
    </div>
  </li>
  {{/each}}
  </ul>
  <!--
  <div>
    <button id="addPost">Create a new post</button>
  </div>
  -->
  {{>createPost}}
  {{/if}}


  {{#unless posts}}
  <p>No posts to show for this user</p>
  {{>createPost}}
  {{/unless}}

</section>
<script src="/js/dashboard.js"></script>